<% include ../partials/header %>
<div class="container">
  <div class="wrapper">
  <% include ../partials/alerts.ejs %>
    <form class="form-signin" method="post" action="/auth">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>

      <button class="btn btn-lg btn-info btn-block" type="submit">Login</button>
    </form>
  </div>


</div>







<% include ../partials/footer %>