<% include ../partials/header %>
<body>
<div id="greyish" class="container container-margin">
<% include ../partials/alerts.ejs %>
<form class="form-horizontal" action="" method="POST">
  <fieldset>
    <div id="legend">
      <legend class="legend-header">Register</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="fieldset-margin control-label label-weight"  for="firstName">First Name</label>
      <div class="controls">
        <input type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label label-weight" for="lastName">Last Name</label>
      <div class="controls">
        <input type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label label-weight" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label label-weight" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button id="sign-up-button" class="btn btn-success label-weight">Register</button>
      </div>
    </div>
  </fieldset>
</form>


</div>
</body>






<% include ../partials/footer %>