<% include ./partials/header %>
<body class="error">

<h1 class="error-header">Something Broke!</h1>

<h4 class="error-subhead">There was a problem serving the page you requested.
  Please type the Wayfinder homepage into your browser bar and begin your search again.</h4>


</body>


<% include ./partials/footer %>