

  <% include ../partials/alertsAlt.ejs %>
  <div class="modal-body">

  <form action="/maps/edit/<%= localId %>" method="post">
      <div class="form-group">
      <h3 class"create-page-input">Edit Map Name</h3>
          <input class="front-page-input label-weight" type="text" name="mapName" placeholder="Your Map Name">
        <h3 class="create-page-input">Edit Map Description</h3>
          <textarea type="text" id="create-text-area" class="label-weight"  name="description" class="form-control" placeholder="Tell Us About Your Map"></textarea>
      </div>


      <input type="submit" id="create-button" class="add-buttons create-button white-text btn btn-info" value="Make Changes">
      <button class="add-buttons create-button btn btn-default" data-dismiss="modal">Close Window</button>
  </form>
  </div>






